.navBar {

    background: rgba(0, 0, 0, 0.766);

    padding-top: 1vw;
    padding-bottom: 1vw;

}

.navContainer {
    display: flex;
    flex-direction: row;
    padding-left: 20px !important;
    place-items: center;
}

.navContainer img {
    margin-right: 7px;
}

@media(max-width: 768px) {
    .navBarItem li {
        margin-left: 1vw;
        margin-right: 2vw;
        padding-right: 1vw;
        padding-left: 1vw;
        padding-top: 0.5vw;
    }
}

@media (min-width: 768px) {
    .navBarItem li {
        padding-left: 1.5vw;
        padding-right: 1.5vw;
    }
}

.navBarItem li a:hover {
    background: rgba(0, 0, 0, 0.953);
    color: rgb(162, 162, 162);
    border-radius: 20px;
}

.navContainer h2 {
    padding-left: 2%;
    color: white;
}

.navBarItem li a {
    color: white;
}

.linkActive {
    color: white !important;
    background: rgba(0, 0, 0, 0.953);
    border-radius: 20px;
}