.swiper {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}

.swiperSlide {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;
}

.swiperSlide img {
    display: block;
    width: 85%;
}

.swiperSlide h3 {
    text-align: center;
}